.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    left: 0;
    max-width: 100%;
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation .navigation-list {
    list-style: none;
    float: right;
    margin: 0 1rem;
}

.navigation .navigation-item {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}

.placeholder {
    margin-top: 10rem;
    text-align: center;
}

.placeholder img {
    width: 20rem;
}

.placeholder span[role="image"] {
    font-size: 20rem;
}
